<div class="container">
  <div class="row">
    <div class="col-xs-12 mx-auto">
      <div class="text-center">
        <h2>Welcome to ながのcake!</h2><br>
        <p>このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
        ※管理者の方は、<%= link_to "こちら", new_admin_session_path %>からログインしてください。</p>


        <p><%= image_tag 'cake_shop_photo', size: "500x300" %></p><br>
     </div>
    </div>
　</div>
</div>


<div class="container">
  <h2>新着商品一覧</h2>
      <% @items.each do |item| %>
    <div class="row" style="display: inline-block; margin-right: 30px;">
    <div>
      <%= link_to public_item_path(item.id) do %>
        <% if item.image.attached? %>
        <%= image_tag item.image, size: "200x150" %>
        <% else %>
        <%= image_tag 'no_image', size: "120x120" %>
        <% end %><br>
      <% end %>
    </div>
    <div>
      <%= item.name %><br>
    ¥ <%= item.price %>
    </div>
    </div>
      <% end %>
    <div class="items-link text-right"><%= link_to "全ての商品をみる", public_items_path %></div>
</div>