<h2><%= @customer.last_name + @customer.first_name %>さんの会員詳細</h2>

<%= form_with model: @customer, url: admin_customer_path(@customer.id), local: :true, method: :put do |f| %>

<div class="field">
  <%= f.label :名前 %>
  <%= f.label :（姓） %>
  <%= f.text_field :last_name, :size => "10", placeholder: "令和" %>
  <%= f.label :（名） %>
  <%= f.text_field :first_name, :size => "10", placeholder: "道子" %>
  </div>

  <div class="field">
  <%= f.label :フリガナ %>
  <%= f.label :（セイ） %>
  <%= f.text_field :last_name_kana, :size => "10", placeholder: "レイワ" %>
  <%= f.label :（メイ） %>
  <%= f.text_field :first_name_kana, :size => "10", placeholder: "ミチコ" %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, :size => "25", placeholder: "sample@example.com", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
  <%= f.label :郵便番号（ハイフンなし） %>
  <%= f.text_field :postal_code, :size => "10", placeholder: "1001000", id: "customer_postcode" %>
  </div>

  <div class="field">
  <%= f.label :住所 %>
  <%= f.text_field :address, :size => "40", placeholder: "東京都渋谷区代々木神園町0-0", id: "customer_address" %>
  </div>

  <div class="field">
  <%= f.label :電話番号（ハイフンなし）%>
  <%= f.text_field :telephone_number, placeholder: "08012345678" %>
  </div>

  <div class="field">
  <%= f.label :会員ステータス %>
  <%= f.radio_button :is_deleted, :false %>
  <%= f.label :is_deleted, "有効" %>
  <%= f.radio_button :is_deleted, :true %>
  <%= f.label :is_deleted, "退会" %>
  </div>

  <%= f.submit "変更を保存" %>

<% end %>