<h1>商品一覧</h1><h4>(全<%= @total_items.count %>件)</h4>

<% @items.each do |item| %>
<%= link_to public_item_path(item.id) do %>
<p><%= image_tag item.image, size: "180x130", fallback: "no_image.jpg" %></p>
<% end %>
  <p><%= item.name %></p>
  <p>¥ <%= item.price %></p>
<% end %>