<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <div class="row" style="margin-top: 50px;">
        <div style="float: left; margin: 15px 50px;">
      <%= image_tag @item.image, size: "340x220", fallback: "no_image.jpg" %>
    </div>
        <div style="width:250px; height:100px; float:left;">
          <h3><%= @item.name %></h3><br>
          <p><%= @item.introduction %></p>
          <p>¥ <%= @item.price %> (税込)</p>
        </div>
      </div>

      <div class="col-xs-7">
        <%= form_with model: @cart_item, url: public_cart_items_path, method: :post do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id %>
      <div class="text-right">
        <%= f.select :amount, *[1..10], {include_blank: "個数選択"} %>
        <%= f.submit "カートに入れる" , class: "btn btn-success"%>
        <%end%>
      </div>
    </div>
   </div>
 </div>
</div>