<%= image_tag @item.image, size: "340x220", fallback: "no_image.jpg" %>
<h3><%= @item.name %></h3>
<p><%= @item.introduction %></p>
<p>¥ <%= @item.price %> (税込)</p>

<%= form_with model: @cart_item, url: public_cart_items_path, method: :post do |f| %>
<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.select :amount, *[1..10] %>
<%= f.submit "カートに入れる" %>
<%end%>